services:
  - type: web
    name: pengawas-sekolah
    runtime: node
    region: singapore
    plan: free
    buildCommand: npm ci && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
    healthCheckPath: /
